build/projects/memeplus.html
<html><head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/><link href="../style.css" rel="stylesheet"/><link href="assets/css/lity.min.css" rel="stylesheet"/><link id="apsc-font-awesome-css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><!-- Basic Page Config--><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/><meta name="description" content=""/><meta name="keywords" content=""/><!-- JavaScript files--><script type="text/javascript" src="assets/js/jquery.js"></script><script type="text/javascript" src="assets/js/site.js"></script><script type="text/javascript" src="assets/js/youtube_handler.js"></script><script type="text/javascript" src="assets/js/lity.min.js"></script><title>The Startup Factory</title></head><body></body></html><header id="HeaderWrap"><div class="container"><div class="row"><div class="col-sm-4"><div class="ImageWrap"><a href="/"><img src="../assets/images/TSFLogo.jpg"/></a></div></div><div class="col-sm-8"><div class="Nav"><ul><li><a href="/">Home</a></li><li><a href="/#about_anchor">About Us</a></li><li><a href="/#videos_anchor">Videos</a></li><li><a href="/#contact_anchor">Contact Us</a></li></ul></div></div><a href="#" id="menu-toggle-wrapper" class="TransitionAll"><div id="menu-toggle"></div></a></div></div></header><div class="container"><div class="biowrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"><div class="head"><div class="row"><div class="col-xs-1"></div><div class="col-xs-10"><div class="ImageWrapper"></div></div><div class="col-xs-1"></div></div></div><div class="content"><div class="row"><h1 class="PersonName text-center">MeMe +</h1></div><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div></div><div class="footer"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div></div></div></div><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-77384255-1', 'auto');
ga('send', 'pageview');
</script><footer class="footer"><span>Follow us:</span><a href="https://twitter.com/JdpInternship" target="_blank"><i aria-hidden="true" class="fa fa-twitter-square fa-3"></i></a><a href="https://www.facebook.com/theJDPInternship/" target="_blank"><i aria-hidden="true" class="fa fa-facebook-square fa-3"></i></a><a href="https://www.youtube.com/channel/UCZgiyaJd8LFWXbOxIgeSkbg" target="_blank"><i aria-hidden="true" class="fa fa-youtube-play fa-3"></i></a><a href="https://bitbucket.org/jdpinternship/the-startup-factory" target="_blank"><i aria-hidden="true" class="fa fa-bitbucket-square fa-3"></i></a></footer>

src/projects/memeplus.jade
extends ./../partials/jade/templates/projects_template.jade

block bio_header_image
    


block bio_content
    .row
        h1.PersonName.text-center MeMe +
    .row
        .col-sm-6
            
        .col-sm-6
            

block bio_footer
    .row
        .col-sm-6
            
        .col-sm-6
            
